<!DOCTYPE html>

<html ng-app="CSCI-5839_App">
<head>
   <title>CSCI-5839</title>
   <meta charset="utf-8" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
   <!-- <link href="/lib/css/bootstrap.min.css" rel="stylesheet"> -->
   <style>
body {
   padding-top: 50px;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.dragItem ul[dnd-list],
.dragItem ul[dnd-list] > li {
	/*position: relative;*/
   display: block;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.dragItem ul[dnd-list] {
   min-height: 36px;
   padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.dragItem ul[dnd-list] .dndDraggingSource {
   /*display: none;*/
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.dragItem ul[dnd-list] .dndPlaceholder {
   display: block;
   background-color: #ddd;
   min-height: 36px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.dragItem ul[dnd-list] li {
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 4px;
   /*border-top-left-radius: 4px;*/
   /*display: block;*/
   float:left;
   padding: 6px 9px;
   margin-right: 2px;
   margin-bottom: 2px;
}

.openhandCursor{
   cursor:  url(lib/img/openhand.gif), default !important;
}

.navbar-header{
   width: 100%;
}

#main_container{
   margin-top: 30px;
}

.visualizations{
   list-style:none;
   padding-left:0;
   text-align:center;
}
.visualizations li{
   display: inline-block
}
.visualization{
   max-width:100%;
   margin-top: 10px;
}
.available-keywords {
   min-height: 640px;
   max-height: 640px;
}
.keyword-builder {
   min-height: 106px;
   max-height: 106px;
}
.vis-builder{
   min-height: 513px;
   max-height: 513px;
}
.panel{
   overflow: hidden;
}
.panel-body{

}
.available-keywords-body{
   overflow-y: scroll;
   min-height: 600px;
   max-height: 600px;
}
.keyword-builder-body{
   min-height: 66px;
   max-height: 66px;
}
.vis-builder-body{
   min-height: 473px;
   max-height: 473px;
}
.data-set{
   margin-bottom: 10px;
}
.builder-tgt{
    background-image: url('lib/img/target.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}
.builder-tgt-bl{
    background-image: url('lib/img/target_blank.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}
.pointer{
   cursor: pointer;
}

   </style>
</head>

<body ng-controller="CSCI-5839_Controller">
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">CSCI 5839 Natural Language Visualization Project</a>
            <ul class="nav navbar-nav">
               <li class="active"><a href="#">Home</a></li>
               <li class="active"><a href="index.html?dataSet=0" target="_blank">Bike Data Set</a></li>
               <li class="active"><a href="index.html?dataSet=1" target="_blank">Life Expectancy Set</a></li>
            </ul>
      </div>
   </nav>

   <div class="container" id="main_container">
      <div class="dragItem row">
         <div class="col-md-4">
            <div class="panel panel-primary available-keywords">
               <div class="panel-heading">
                  <h3 class="panel-title ng-binding">Available Keywords</h3>
               </div>
               <div class="panel-body available-keywords-body">
                  <div class="row data-set" ng-repeat="wordList in models.lists">
                     <div class="col-md-12">
                        <div class="row">
                           <div class="col-md-12">
                              <p>
                                 {{wordList.name}}
                              </p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <!-- The dnd-list directive allows to drop elements into it.
                                   The dropped data will be added to the referenced list -->
                              <ul dnd-list="wordList.items"
                                 dnd-horizontal-list="true"
                                 dnd-disable-if="true">
                                 <!-- The dnd-draggable directive makes an element draggable and will
                                      transfer the object that was assigned to it. If an element was
                                      dragged away, you have to remove it from the original list
                                      yourself using the dnd-moved attribute -->
                                 <li ng-repeat="item in wordList.items"
                                    dnd-draggable="item"
                                    dnd-effect-allowed="copy"
                                    dnd-dragstart="eventDragStart()"
                                    dnd-canceled="eventDragEnd()"
                                    dnd-dragend="eventDragEnd()"
                                    class="openhandCursor"
                                    >{{item.label}}
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-8">
            <div class="row">
               <div class="col-md-12">
                  <div class="panel panel-primary keyword-builder">
                     <div class="panel-heading">

                        <div class="btn-group pull-right pointer"
                           title="Reset Keyword Builder"
                           data-toggle="tooltip"
                           data-placement="top"
                           ng-click="resetBuilder()"
                           tooltip
                           >
                           <span class="glyphicon glyphicon-refresh" aria-hidden="true" />
                        </div>
                        <h3 class="panel-title ng-binding">Keyword Builder</h3>
                     </div>
                     <div class="panel-body keyword-builder-body">
                        <ul dnd-list="models.builderItems"
                           dnd-horizontal-list="true"
                           dnd-drop="dropBuilder(event, index, item, external, type, 'containerType')"
                           ng-class="models.builder_tgt">
                           <li ng-repeat="item in models.builderItems"
                               dnd-draggable="item"
                               dnd-effect-allowed="move"
                               dnd-canceled="builderKwDragCanceled(item)"
                               context-menu="menuOptions"
                               class="openhandCursor"
                               >{{item.label}}
                           </li>
                        </ul>
                        &nbsp;
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="panel panel-primary vis-builder">
                     <div class="panel-heading">
                        <h3 class="panel-title ng-binding">Dynamic Visualization Builder</h3>
                     </div>
                     <div class="panel-body vis-builder-body">
                        <ul class="visualizations">
                           <li ng-repeat="img in models.images">
                              <img ng-src="data/img/{{img.src}}" alt="{{img.alt}}" ng-show="img.show" class="visualization">
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div><!-- /.container -->

   <!-- Placed at the end of the document so pages load faster -->
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
   <!-- <script src="/lib/js/angular.min.js"></script> -->
   <script src="lib/js/angular-drag-and-drop-lists.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <!-- <script src="/lib/js/jquery.min.js"></script> -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <!-- <script src="/lib/js/bootstrap.min.js"></script> -->
   <script src="lib/js/contextmenu.js"></script>
   <script src="data/js/data.js"></script>

   <script>
      var DEFAULT_TIMEOUT = 500;
      var app = angular.module("CSCI-5839_App", ['dndLists', 'ui.bootstrap.contextMenu']);
      app.config(function($locationProvider) {
        $locationProvider.html5Mode(
          {
            enabled: true,
            requireBase: false
          });
      })
      app.controller("CSCI-5839_Controller", function ($scope, $http, $location, $timeout)
      {
         var XW = 0;
         var DW = 0;
         var BW = -1;

         $scope.loadData = function(){
            var localData = [];
            var dataWords = [];
            for (var wordTypeIdx in data['defaultWords'])
            {
               var p = XW;
               var wordTypeName = data['defaultWords'][wordTypeIdx]['name'];
               localData.push({
                               "name"  : wordTypeName,
                               "items" : []
                              });

               if (wordTypeName == "Data Driven Words"){
                  DW = parseInt(wordTypeIdx, 10);
                  p = DW;
               }
               for (var wordIdx in data['defaultWords'][wordTypeIdx]['data'])
               {
                  var word = data['defaultWords'][wordTypeIdx]['data'][wordIdx];
                  var newItem = {
                        label : word,
                           id : $scope.newId(),
                      created : new Date().getTime(),
                       parent : p
                  };
                  localData[localData.length-1]["items"].push(newItem);
                  if (wordTypeName == "Data Driven Words")
                  {
                     dataWords.push(word);
                  }
               }
            }

            var dataSetIdx = parseInt($location.search()['dataSet'], 10) || 0;
            for (var wordIdx in data['dataSets'][dataSetIdx]["Data Driven Words"])
            {

               var word = data['dataSets'][dataSetIdx]["Data Driven Words"][wordIdx];

               if (dataWords.indexOf(word) == -1)
               {
                  var newItem = {
                        label : word,
                           id : $scope.newId(),
                      created : new Date().getTime(),
                       parent : DW
                  };
                  localData[DW]["items"].push(newItem);
               }
            }
            return localData;
         };

         var IMG_Default = 0;
         var IMG_Loading = 1;
         var IMG_OFFSET  = 2;

         $scope.loadImages = function(){
            var images = [ {
                              "src"  : "default.png",
                              "alt"  : "Drag over a few Keywords to generate a Visualization",
                              "show" : true
                           },
                           {
                              "src"  : "spinner.gif",
                              "alt"  : "Loading",
                              "show" : false
                           }
                        ];

            var dataSetIdx = parseInt($location.search()['dataSet'], 10) || 0;
            var combos = data['dataSets'][dataSetIdx]["combinations"];

            for (var comboIdx in combos)
            {
               for (var imgIdx in combos[comboIdx]["img"]){
                  var img = JSON.parse(JSON.stringify(combos[comboIdx]['img'][imgIdx]));
                  img.show = false;
                  images.push(img)
               }
            }
            return images;
         };
         $scope.newId = function(){
             function s4() {
              return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
             }
             return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                    s4() + '-' + s4() + s4() + s4();
         };

         $scope.logEvent = function(message, event) {
            console.log(message, '(triggered by the following', event.type, 'event)');
            console.log(event);
         };

         $scope.logListEvent = function(action, event, index, external, type) {
            var message = external ? 'External ' : '';
            message += type + ' element is ' + action + ' position ' + index;
            $scope.logEvent(message, event);
         };

         $scope.dropBuilder = function(event, index, item, external, type, allowedType) {

            var needToCheckWords = true;
            if (item.parent == BW){
               // find the current one and kill it
               for (var itemIdx in $scope.models.builderItems){
                  if (item.id == $scope.models.builderItems[itemIdx].id){
                     $scope.models.builderItems.splice(itemIdx, 1);
                     needToCheckWords = false;

                  }
               }
            }

            item.built = new Date().getTime();
            item.parent = BW;

            if (needToCheckWords){
               var words = [item.label];
               for (var itemIdx in $scope.models.builderItems){
                  words.push($scope.models.builderItems[itemIdx].label);
               }
               $timeout(function(){$scope.checkWords(words)}, 100);
            }

            return item;
         };

         $scope.checkWords = function(words){
            var imgs = [];

            // search through all combinations and check for a full match
            var combos = data['dataSets'][$scope.models.dataSetIdx]["combinations"];

            for (var comboIdx in combos){
               var matched = true;
               var query = combos[comboIdx]['query'];
               for (var wordIdx in query){
                  if (words.indexOf(query[wordIdx]) == -1){
                     matched = false;
                     break;
                  }
               }

               if (matched){
                  imgs = combos[comboIdx]["img"];
               }
            }

            $scope.hideAllImages();
            $scope.models.images[IMG_Loading].show = true;
            if (0 < imgs.length){
               $timeout(function(){$scope.setImages(imgs)}, DEFAULT_TIMEOUT);
            }
            else{
               $timeout(function(){
                  $scope.models.images[IMG_Loading].show = false;
                  $scope.models.images[IMG_Default].show = true;
               }, DEFAULT_TIMEOUT);
            }
         };

         $scope.hideAllImages = function(){
            for (var imgIdx in $scope.models.images){
               $scope.models.images[imgIdx].show = false;
            }
         };

         $scope.setImages = function(imgs){
            for (var matchedImgIdx = 0; matchedImgIdx < imgs.length; matchedImgIdx++){
               var matchedImg = imgs[matchedImgIdx];
               for (var existingImgIdx = IMG_OFFSET; existingImgIdx < $scope.models.images.length; existingImgIdx++){
                  var existingImg = $scope.models.images[existingImgIdx];
                  if (existingImg.src == matchedImg.src){
                     $scope.models.images[IMG_Loading].show = false;
                     $scope.models.images[existingImgIdx].show = true;
                     break;
                  }
               }
            }
         };

         $scope.delete = function(item){
            for (var idx = 0; idx < $scope.models.builderItems.length; idx++){
               if (item.id == $scope.models.builderItems[idx].id){
                  $scope.models.builderItems.splice(idx, 1);
                  var words = [];

                  for (var wordIdx in $scope.models.builderItems){
                     words.push($scope.models.builderItems[wordIdx].label);
                  }

                  $timeout(function(){$scope.checkWords(words)}, 100);
                  break;
               }
            }
         };

         $scope.resetBuilder = function(){
            $scope.deleteAll();
         }

         $scope.deleteAll = function(){
            $scope.models.builderItems = [];
            $timeout(function(){$scope.checkWords([])}, 100);
         };

         $scope.eventDragStart = function(){
            $scope.models.builder_tgt = "builder-tgt";
         };
         $scope.eventDragEnd = function(){
            $scope.models.builder_tgt = "builder-tgt-bl";
         };
         $scope.builderKwDragCanceled = function(item){
            $scope.delete(item);

         }
         $scope.models = {
            selected       : null,
            lists          : $scope.loadData(),
            builderItems   : [],
            dataSetIdx     : (parseInt($location.search()['dataSet'], 10) || 0),
            images         : $scope.loadImages(),
            builder_tgt    : "builder-tgt-bl",
         };


         $scope.menuOptions = [
            ['Delete', function($itemScope){
               if ($itemScope.item.parent == BW){
                  $scope.delete($itemScope.item);
               }
            }]
         ];
      });
      app.directive('tooltip', function(){
         return {
            restrict: 'A',
            link: function(scope, element, attrs){
               $(element).hover(function(){
                  // on mouseenter
                  $(element).tooltip('show');
               }, function(){
                  // on mouseleave
                  $(element).tooltip('hide');
               });
            }
         };
      });
   </script>
</body>
</html>
